body {
    background: white url("../bg.svg") no-repeat;
    background-size: cover;
    font-family: "Creepster", sans-serif;
    font-size: 30px;
}

h1  {
    font-size: 5rem;
}

.text {
    float: left;
    position: relative;
    top: 200px;
    left: 200px;
    width: 500px;
    color: white;
}

.image {
    float: right;
    position: relative;
    top: 100px;
    right: 100px;
    width: 500px;
}
